*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: white;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: $font-primary;
  overflow-x: hidden;
  position: relative;
  color: $text-clr-primary;
}

.gutter {
  width: 100%;
  height: 60px;
}

.button {
  text-decoration: none;
  color: white;
  background: $text-clr-primary;
  padding: 12px;
  border-radius: 5px;
  transition: background 200ms ease-in-out;

  &:hover {
    background: linear-gradient(#83652ac7, #83652a83);
  }

  &:active {
    flex-shrink: 1;
  }
}

section {
  padding: 70px 0;

  &:nth-child(odd) {
    background: #efe4ce;
  }
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header {
  font-family: $font-secondary;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 40px;
  }
}
