.cart {
  border: 1px solid green;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 520px;
  height: 100vh;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header-body-container {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  &__header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 42px;
    font-family: $font-secondary;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__body {
    width: 100%;

    table {
      width: 100%;
      height: 50%;
    }
  }

  // &__items-list{}

  &__table-header-left {
    text-align: start;
  }

  &__table-header-right {
    text-align: end;
  }

  &__item {
    border-bottom: 1px solid #ccc;

    td {
      padding: 10px 0;
    }
  }

  &__item-image {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    // margin-right: 1px;
  }

  &__qty-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
  }

  &__qty {
    border: 1px solid $text-clr-primary;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 30px;
    overflow: hidden;
  }

  &__qty-decrement {
    padding: 3px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__qty-input {
    text-align: center;
    color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
  }

  &__qty-increment {
    padding: 3px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__price-body {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__price,
  &__total-price {
    position: relative;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;

    &::before {
      content: "$";
      font-size: 15px;
      position: absolute;
      top: -2px;
      left: -12px;
    }
  }

  &__footer {
    background: #efeee8;
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__checkout-btn {
    width: 100%;
    font-size: 16px;
    color: inherit;
    padding: 8px 0;
    cursor: pointer;
    outline: none;
    // background: #efeee8;
    background: linear-gradient(to right, #efeee8 34%, #192a56 65%);
    background-size: 300% 100%;
    background-position: left bottom;
    border: 1px solid #192a56;
    transition: 200ms ease;

    &:hover {
      // background: linear-gradient(to right, #192a56 50%, #192a56 50%);
      background-position: right bottom;
      color: white;
    }
  }
}

@media screen and (min-width: 375px) {
  .cart {
    &__header-body-container {
      padding: 0 40px;
    }

    &__price,
    &__total-price {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 500px) {
  .cart {
    &__qty-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}
