.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-height: calc(100% - 60px);
  position: relative;
  background-image: linear-gradient(#83652a8f, #83652a3b),
    url("https://source.unsplash.com/Bkm6wO6pHOY/640x517");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;

  &__message {
    padding: 0 5px;
  }

  &__title {
    margin-bottom: 36px;
    font-family: $font-secondary;
    font-size: 32px;
    color: white;
  }
}

@media screen and (min-width: 640px) {
  .hero {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("https://source.unsplash.com/Bkm6wO6pHOY/1920x1552");
  }
}

@media screen and (min-width: 800px) {
  .hero {
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("https://source.unsplash.com/Bkm6wO6pHOY/2400x1940");
  }
}

// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/640x517");
// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/2400x1940");
// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/1920x1552");
