.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-height: 80vh;
  position: relative;
  background-image: linear-gradient(#83652a8f, #83652a3b),
    url("../assets/hero-sm.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;

  &__message {
    padding: 0 5px;
    max-width: 788px;
    text-align: center;
  }

  &__title {
    margin-bottom: 40px;
    font-family: $font-secondary;
    font-size: 32px;
    color: white;
  }
}

.hero-shop-pg {
  background-image: linear-gradient(#83652a8f, #83652a3b),
    url("https://source.unsplash.com/zlUGL4hBHcw/1920x1281");
}

@media screen and (min-width: 640px) {
  .hero {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("../assets/hero-md.png");
  }

  .hero-shop-pg {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("https://source.unsplash.com/zlUGL4hBHcw/1920x1281");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("../assets/hero-lg.png");
  }

  .hero-shop-pg {
    background-image: linear-gradient(#83652a8f, #83652a3b),
      url("https://source.unsplash.com/zlUGL4hBHcw/1920x1281");
  }

  .hero__title {
    font-size: 68px;
    font-weight: 200;
  }

  .button-hero {
    font-size: 22px;
  }
}

// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/640x517");
// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/2400x1940");
// background-image: url("https://source.unsplash.com/Bkm6wO6pHOY/1920x1552");
